.icontext {
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
}

.icontext .icon {
  position: relative;
  margin-right: 10px;
  flex-shrink: 0;
  flex-grow: 0;
}

.icon-xs {
  width: 32px;
  height: 32px;
  line-height: 32px !important;
  font-size: 16px;
  display: inline-block;
  text-align: center;
}

.white {
  color: #fff;
}

.icontext .text {
  width: 100%;
  line-height: 1.2;
}

.icontext p {
  margin-bottom: 0;
}

p {
  margin-top: 0;
}

.dropdown-menu .show {
  display: block;
}
.icon-sm {
  width: 36px;
  height: 36px;
  line-height: 36px !important;
  font-size: 20px;
  display: inline-block;
  text-align: center;
  flex-shrink: 0;
  flex-grow: 0;
}


.heading {
  font-size: 32px;
  font-weight: 700;
  color: brown;
}